{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for book in books %}
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mt-3 mb-3">
                    <div class="card">
                        <div class="img-container">
                            <img src="{{ asset('uploads/cover/') ~ book.cover }}" class="card-img-top" alt="..."
                                 style="height: 300px">
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title text-center">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        {{ book.name }}
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text text-center">
                                        <i class="fa fa-user  mr-1" aria-hidden="true"></i>
                                        {{ book.author }}
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text text-center">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        <a href="{{ asset('uploads/text/') ~ book.fileBook }}">
                                            Файл книги</a>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text text-center">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        {{ book.dateReading|date('Y-m-d') }}
                                    </p>
                                </li>
                            </ul>
                            {% if app.user != null and app.user.username == book.userId.username
                                or is_granted('ROLE_ADMIN') %}
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('book_edit', {'id':book.id}) }}" class="btn btn-primary mr-2">
                                        Редактировать</a>
                                    <a href="{{ path('book_delete', {'id':book.id}) }}" class="btn btn-primary">
                                        Удалить</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if books == null %}
                <h3 class="w-100 mt-5 text-center">Записи не найдены.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
